<p>
    <strong>Name:</strong>
    <%= @location.name %>
</p>

<p>
    <strong>Text:</strong>
    <%= @location.description %>
</p>


<%= link_to 'Back', locations_path %>
| <%= link_to 'Edit', edit_location_path(@location) %>